 <div id="search" class="header-search">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" />
  <span>
    <button type="button"><i class="fa fa-search"></i></button>
  </span>
</div> 
