
	<!-- header start -->
	<header class="header-home">
		<!-- header-top-area start -->
		<div class="header-top-area hidden-xs">
			<div class="container">
				<div class="row">
					<!-- header-top-left start -->
					<div class="col-lg-6 col-md-6 col-sm-7">
						<div class="header-top-left">
							<div class="top-message">Bem vindo a Fio Dourado</div>
							<div class="phone-number"> Ligue para suporte: <span>(98)98851-8508</span></div>
						</div>
					</div>
					<!-- header-top-left end -->
					<!-- header-top-right start -->
					<div class="col-lg-6 col-md-6 col-sm-5">
						<div class="header-top-right">
							<div class="top-menu">
								<ul>
									<li><a href="my-account.html">Minha Conta</a></li>
									<li><a href="wishlist.html">Minha Lista de desejos</a></li>
									<li><a href="cart.html">Carrinho</a></li>
									<li><a href="#">Entrar</a></li>
								</ul>
							</div>
						</div>
					</div>
					<!-- header-top-right end -->
				</div>
			</div>
		</div>
		<!-- header-top-area end -->
		<!-- header-mid-area start -->
		<div class="header-mid-area">
			<div class="container">
				<div class="row">
					<!-- logo start -->
					<div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
						<div class="logo">
							<a href="index.html"><img src="img/logo/logo.png" alt="" /></a>
						</div>
					</div>
					<!-- logo end -->
					<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
						<!-- cart-total start -->
						<div class="cart-total">
							<ul>
								<li><a href="cart.html"><span class="cart-icon"><i
												class="fa fa-shopping-cart"></i></span> <span class="cart-no">Meu
											Carrinho: (2)</span></a>
									<div class="mini-cart-content">
										<div class="cart-img-details">
											<div class="cart-img-photo">
												<a href="#"><img src="img/product/total-cart.jpg" alt="" /></a>
												<span class="quantity">1</span>
											</div>
											<div class="cart-img-contaent">
												<a href="#">
													<p>Camisa tal tal</p>
												</a>
												<span>R$ 45.00</span>
											</div>
											<div class="pro-del"><a href="#"><i class="fa fa-times-circle"></i></a>
											</div>
										</div>
										<div class="clear"></div>
										<div class="cart-img-details">
											<div class="cart-img-photo">
												<a href="#"><img src="img/product/total-cart2.jpg" alt="" /></a>
												<span class="quantity">1</span>
											</div>
											<div class="cart-img-contaent">
												<a href="#">
													<p>Caneca tal tal</p>
												</a>
												<span>R$ 20.00</span>
											</div>
											<div class="pro-del"><a href="#"><i class="fa fa-times-circle"></i></a>
											</div>
										</div>
										<div class="cart-inner-bottom">
											<p class="total">Subtotal: <span class="amount">R$ 65.00</span></p>
											<div class="clear"></div>
											<p class="cart-button-top"><a href="checkout.html">Confirmar compra</a></p>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<!-- cart-total end -->
						<!-- header-search start -->
						<div class="header-search">
							<form action="#">
								<input type="text" placeholder="Procurar produtos..." />
								<button type="submit"><i class="fa fa-search"></i></button>
							</form>
						</div>
						<!-- header-search end -->
					</div>
				</div>
			</div>
		</div>
		<!-- header-mid-area end -->
		<!-- mainmenu-area start -->
		<div class="mainmenu-area">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="mainmenu">
							<nav>
								<ul>
									<li><a href="index.html">Inicio</a></li>
									<li><a href="shop.html">Camisas</a>
										<div class="mega-menu">
											<span>
												<a href="#" class="mega-title">Camisas Femininas </a>
												<a href="shop.html">Jogos</a>
												<a href="shop.html">Desenhos</a>
												<a href="shop.html">Pets</a>
												<a href="shop.html">Religioso</a>
												<a href="shop.html">Geográfico</a>
												<a href="shop.html">Dia das Mães</a>
												<a href="shop.html">Diversas</a>
											</span>
											<span>
												<a href="#" class="mega-title">Camisas Masculinas </a>
												<a href="shop.html">Jogos</a>
												<a href="shop.html">Desenhos</a>
												<a href="shop.html">Pets</a>
												<a href="shop.html">Religioso</a>
												<a href="shop.html">Geográfico</a>
												<a href="shop.html">Dia das Mães</a>
												<a href="shop.html">Diversas</a>
											</span>
											<span>
												<a href="#" class="mega-title">Infantil</a>
												<a href="shop.html">Jogos</a>
												<a href="shop.html">Pets</a>
												<a href="shop.html">Desenhos</a>
												<a href="shop.html">Super-herois</a>
												<a href="shop.html">Diversas</a>
											</span>
											<span class="mega-menu-img">
												<a href="shop.html"><img alt="" src="img/4.jpg"></a>
											</span>
										</div>
									</li>
									<li><a href="shop-list.html">Canecas</a>
										<ul class="sub-menu">
											<li><a href="shop-list.html">Jogos</a></li>
											<li><a href="shop-list.html">Desenhos e Animes</a></li>
											<li><a href="shop-list.html">Aniversário</a></li>
											<li><a href="shop-list.html">Pets</a></li>
											<li><a href="shop-list.html">Series e Filmes</a></li>
											<li><a href="shop-list.html">Profissões</a></li>
											<li><a href="shop-list.html">Religioso</a></li>
											<li><a href="shop-list.html">Dia das Mães</a></li>
											<li><a href="shop-list.html">Esportes e Times</a></li>
											<li><a href="shop-list.html">Diversos</a></li>
										</ul>
									</li>
									<li><a href="about-us.html">Sobre </a></li>
									<li><a href="contact.html">Contato</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- mainmenu-area end -->
		<!-- mobile-menu-area start -->
		<div class="mobile-menu-area">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mobile-menu">
							<nav id="dropdown">
								<ul>
									<li><a href="index.html">Inicio</a></li>
									<li><a href="about-us.html">Sobre</a></li>
									<li><a href="#">Produtos</a>
										<ul>
											<li><a href="shop.html">Camisas</a></li>
											<li><a href="shop-list.html">Canecas</a></li>
										</ul>
									</li>
									<li><a href="contact.html">Contato</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- mobile-menu-area end -->
	</header>
	<!-- header end -->
{{ footer }}